.Header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-block {
  width: 80vw;
}

button {
  margin: 10px;
}

.ArrayArea {
    text-align: center;
    background-color: #8291ad;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } 

  .array-container {
    position: relative;
  }

  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  }

 